<div class="body">
  <div class="header"></div>
  <div class="main">
    <div class="content-wrapper">
      <div class="title">
        <p>Bem vindo!</p>
      </div>
      <div class="container-buttons">
        <div>
          <button type="button" routerLink="clientes/cadastrar">
            Cadastrar clientes
          </button>
          <button type="button" routerLink="clientes/vizualizar">
            Vizualizar clientes cadastrados
          </button>
        </div>
        <div>
          <button type="button" routerLink="produtos/cadastrar">
            Cadastrar produtos
          </button>
          <button type="button" routerLink="produtos/vizualizar">
            Vizualizar produtos cadastrados
          </button>
        </div>
        <div>
          <button type="button" routerLink="pedidos/cadastrar">
            Realizar pedidos
          </button>
          <button type="button" routerLink="pedidos/ativos">
            Vizualizar pedidos ativos
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer"></div>
</div>
