<div
	class="w-screen h-screen bg-black text-white flex flex-col items-center justify-center gap-10"
>
	<div class="my-10">
		<p class="text-4xl text-blue-500 text-center">Bem vindo!</p>
	</div>
	<div class="flex items-center gap-10">
		<button
			type="button"
			routerLink="clientes"
			class="w-20 h-50 bg-white text-black text-2xl p-6 w-80 rounded-xl hover:bg-gray-200 shadow-lg"
		>
			Ir para clientes
		</button>

		<button
			type="button"
			routerLink="produtos"
			class="w-20 h-50 bg-white text-black text-2xl p-6 w-80 rounded-xl hover:bg-gray-200 shadow-lg"
		>
			Ir para produtos
		</button>

		<button
			type="button"
			routerLink="pedidos"
			class="w-20 h-50 bg-white text-black text-2xl p-6 w-80 rounded-xl hover:bg-gray-200 shadow-lg"
		>
			Ir para pedidos
		</button>
	</div>
</div>
