

.body {
  background-color: var(--cor-fundo-main);
  color: var(--cor-padrao-texto);
  font-family: 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.header,
.footer {
  width: 100vw;
  height: 10vh;
  background-color: var(--cor-fundo-side-bar);
}

.main {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.title p {
  font-size: 10em;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.container-buttons div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.container-buttons div button {
  width: 350px;
  padding: 15px;
  cursor: pointer;
  background-color: var(--cor-padrao-botao);
  border-radius: 5px;
  border-style: none;
  font-size: larger;
}

.container-buttons div button:hover {
  background-color: var(--cor-padrao-botao-hover);
}

