<!-- <div>
  <h2>Lista de Clientes</h2>
  <ul>
    <li *ngFor="let cliente of listaDeClientes">
      <p>{{ cliente.nome }} ({{ cliente.email }})</p>
      <button
        type="button"
        title="editarCliente"
        (click)="AtualizarCliente(cliente.id)" >
        Editar
      </button>
      <button
        type="button"
        title="deletarCliente"
        (click)="DeletarCliente(cliente.id)"
      >
        Deletar
      </button>
    </li>
  </ul>
  <p *ngIf="listaDeClientes.length === 0">Nenhum cliente cadastrado.</p>
</div> -->