<div class="body">
  <header class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>Produtos cadastrados</h2>
  </header>
  <div class="main">
    <div
      class="container-list-produtos"
      *ngFor="let produto of listaDeProdutos"
    >
      <div>
        <p>Nome:</p>
        <p>{{ produto.nome }}</p>
      </div>
      <div>
        <p>Descrição:</p>
        <p>{{ produto.descricao }}</p>
      </div>
      <div>
        <p>Preco:</p>
        <p>{{ produto.preco }}</p>
      </div>
      <div class="list-produtos-buttons">
        <button
          class="button-editar"
          type="button"
          title="editarProduto"
          (click)="abrirModalEditar(produto)"
        >
          Editar
        </button>
        <button
          class="button-excluir"
          type="button"
          title="excluirProduto"
          (click)="deletarProduto(produto.id)"
        >
          Excluir
        </button>
      </div>
    </div>
  </div>
  <footer class="footer">
    <button class="button" type="button" routerLink="/produtos/cadastrar">
      Cadastrar produto
    </button>
  </footer>
</div>

<app-modal-editar-produto
  [mostrar]="mostrarModalEditar"
  [nome]="produtoSelecionado.nome"
  [descricao]="produtoSelecionado.descricao"
  [preco]="produtoSelecionado.preco"
  (salvar)="salvarModal($event)"
  (fechar)="mostrarModalEditar = false"
>
</app-modal-editar-produto>
