<div class="body">
  <header class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>Clientes cadastrados</h2>
  </header>
  <div class="main">
    <div
      class="container-list-clientes"
      *ngFor="let produto of listaDeProdutos"
    >
      <div>
        <p>Nome completo:</p>
        <p>{{ produto.nome }}</p>
      </div>
      <div>
        <p>Email:</p>
        <p>{{ produto.descricao }}</p>
      </div>
      <div>
        <p>Numero:</p>
        <p>{{ produto.preco }}</p>
      </div>
      <div class="list-clientes-buttons">
        <button
          class="button-editar"
          type="button"
          title="editarCliente"
          (click)="abrirModalEditar(produto)"
        >
          Editar
        </button>
        <button
          class="button-excluir"
          type="button"
          title="excluirCliente"
          (click)="deletarProduto(produto.id)"
        >
          Excluir
        </button>
      </div>
    </div>
  </div>
  <footer class="footer">
    <button class="button" type="button" routerLink="/clientes/cadastrar">
      Cadastrar cliente
    </button>
  </footer>
</div>

<app-modal-editar
  [mostrar]="mostrarModalEditar"
  [nome]="clienteSelecionado.nome"
  [email]="clienteSelecionado.email"
  [numero]="clienteSelecionado.numero"
  (salvar)="salvarModal($event)"
  (fechar)="mostrarModalEditar = false"
>
</app-modal-editar>
