:root {
  --cor-fundo-main: #F9FAFB;
  --cor-fundo-side-bar: #617a87;
  --cor-padrao-texto: #1F2937;
  --cor-padrao-botao: #10B981;
  --cor-padrao-botao-hover: #10b981ab;
}

* {
	padding: 0px;
	margin: 0px;
}
