:root {
  --cor-fundo-main: #F7FAF5;
  --cor-fundo-side-bar: #b0b9c2;
  --cor-padrao-texto: #4B3621;
  --cor-padrao-botao: #3fac75;
  --cor-padrao-botao-hover: #7bf0b9;
  --cor-bordar-bottom-header: #3498db;
}

* {
  padding: 0px;
  margin: 0px;
  color: var(--cor-padrao-texto);
}