:root {
  --cor-fundo-main: #f8f9fa;
  --cor-fundo-side-bar: #495057;
  --cor-padrao-texto: #212529;
  --cor-padrao-botao: #20c997;
  --cor-padrao-botao-hover: #18a77b;
  --cor-bordar-bottom-header: #3498db;
}

* {
  padding: 0px;
  margin: 0px;
}