<div class="body">
  <header class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>Cadastrar novo produto</h2>
  </header>
  <div class="main">
    <div class="container-form">
      <div>
        <label for="nomeProduto">Nome:</label>
        <input
          type="text"
          id="nomeProduto"
          [(ngModel)]="nomeProduto"
          name="nomeProduto"
          required
        />
      </div>
      <div>
        <label for="descricaoProduto">Descrição:</label>
        <input
          type="text"
          id="descricaoProduto"
          [(ngModel)]="descricaoProduto"
          name="descricaoProduto"
          required
        />
      </div>
      <div>
        <label for="precoProduto">Preço produto:</label>
        <input
          type="number"
          id="precoProduto"
          [(ngModel)]="precoProduto"
          name="precoProduto"
        />
      </div>
    </div>

    <button type="button">
      Cadastrar
    </button>
    <button type="button" routerLink="/produtos/vizualizar">
      Vizualizar produtos
    </button>
  </div>
  <footer class="footer"></footer>
</div>
