<div class="body">
  <header class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>Cadastrar novo produto</h2>
  </header>
  <div class="main">
    <div class="container-form">
      <div>
        <label for="nomeProduto">Nome do produto:</label>
        <input
          type="text"
          id="nomeProduto"
          [(ngModel)]="nomeProduto"
          name="nomeProduto"
          required
        />
      </div>
      <div>
        <label for="descricaoProduto">Descrição do produto:</label>
        <input
          type="text"
          id="descricaoProduto"
          [(ngModel)]="descricaoProduto"
          name="descricaoProduto"
          required
        />
      </div>
      <div>
        <label for="precoProduto">Preço do produto:</label>
        <input
          title="precoProduto"
          type="text"
          inputmode="numeric"
          pattern="[0-9]*"
          [(ngModel)]="precoProduto"
          (keypress)="permitirNumerosEPontoVirgula($event)"
          (paste)="bloquearTextoInvalido($event)"
        />
      </div>
    </div>

    <button type="button" (click)="cadastrarProduto()">Cadastrar</button>
  </div>
  <footer class="footer">
    <button type="button" routerLink="/produtos/vizualizar">
      Vizualizar produtos
    </button>
  </footer>
</div>
