<div class="body">
  <header class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>Cadastrar novo cliente</h2>
  </header>
  <div class="main">
    <div class="container-form">
      <div>
        <label for="nome">Nome completo:</label>
        <input
          type="text"
          id="nome"
          [(ngModel)]="nomeCliente"
          name="nome"
          required
        />
      </div>
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="emailCliente"
          name="email"
          required
        />
      </div>
      <div>
        <label for="numero">Número de telefone:</label>
        <input
          type="text"
          id="numero"
          [(ngModel)]="numeroCliente"
          name="numero"
        />
      </div>
    </div>

    <button type="button" (click)="cadastrarCliente()">Cadastrar</button>
  </div>
  <footer class="footer">
    <button type="button" routerLink="/clientes/vizualizar">
      Vizualizar clientes
    </button>
  </footer>
</div>
