.body {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-fundo-side-bar);
  height: 10vh;
  padding: 0 10px 0 10px;
}

.header h2 {
  color: var(--cor-padrao-texto);
  text-align: center;
  flex-grow: 1;
}

.footer {
  height: 10vh;
  background-color: var(--cor-fundo-side-bar);
}

.main {
  height: 80vh;
}