.body {
	background-color: #000;
	color: #fff;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
}

.body div {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.body div input {
	border: none;
	padding: 5px;
	border-radius: 2px;
}

.clientes-container {
  display: flex;
  justify-content: center;
}

.clientes-container ul li {
  display: flex;
  gap: 10px;
}

