<div>
  <div class="header">
    <button type="button" title="voltar" routerLink="/">VOLTAR</button>
    <h2>{{ isEditMode ? 'Editar Cliente' : 'Cadastrar Novo Cliente' }}</h2>
  </div>
  <form>
    <div>
      <label for="nome">Nome:</label>
      <input type="text" id="nome" [(ngModel)]="nomeCliente" name="nome" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="emailCliente" name="email" required>
    </div>
    <div>
      <label for="numero">Número de telefone:</label>
      <input type="text" id="numero" [(ngModel)]="numeroCliente" name="numero">
    </div>

    <button type="submit" *ngIf="!isEditMode" (click)="CadastrarCliente()">Cadastrar</button>
    <button type="button" *ngIf="isEditMode" (click)="SalvarAtualizacaoCliente()">Salvar Alterações</button>
    <button type="button" *ngIf="isEditMode" (click)="LimparFormulario()">Cancelar Edição</button>
  </form>
</div>